.contact_form{
  display: flex;
  flex-direction: column;
  height: 85vh !important;
  align-items: center;
  justify-content: center;
}

.form{
  width: 50%;
}

@media only screen and (max-width:800px){
  .form{
    width: 80% !important;
  }
}